*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
ol {
  list-style-type: none;
}

a {
  text-decoration: none;
}

img {
  display: inline-block;
}

@font-face {
  font-family: "Lexend Deca";
  font-style: normal;
  font-weight: 400;
  src: url("../assets/fonts/lexend-deca-v15-latin-regular.woff") format("woff2"), url("../assets/fonts/lexend-deca-v15-latin-regular.woff") format("woff");
}
@font-face {
  font-family: "Space Mono";
  font-style: normal;
  font-weight: 700;
  src: url("../assets/fonts/space-mono-v10-latin-700.woff2") format("woff2"), url("../assets/fonts/space-mono-v10-latin-700.woff") format("woff");
}
.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 1125px;
  height: 100%;
  padding: 0 10px;
  margin: 0 auto;
}

.visually-hidden {
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.button {
  width: 180px;
  height: 53px;
  padding: 14px 39px;
  font-family: "Space Mono";
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 25px;
  text-align: center;
  border: none;
  cursor: pointer;
}
.button-coral {
  color: #ffffff;
  background: #fcb72b;
}

.header__container {
  padding-top: 22px;
  padding-bottom: 21px;
  -moz-column-gap: 58px;
       column-gap: 58px;
}

.header__navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.header__navbar-items {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  -moz-column-gap: 32px;
       column-gap: 32px;
}

.header__navbar-item--link {
  font-family: "Space Mono";
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 25px;
  color: #939caa;
}

.intro {
  width: 100%;
  height: 100%;
  background: url("../../../assets/images/intro-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.intro__container {
  padding: 152px 0;
}

.intro__slogan {
  margin-bottom: 40px;
  font-family: "Calibri";
  font-style: normal;
  font-weight: 700;
  font-size: 56px;
  line-height: 56px;
  letter-spacing: -2.5px;
  color: #ffffff;
  word-spacing: 20px;
}

.intro__inner {
  margin-left: 95px;
  position: relative;
}
.intro__inner::before {
  content: "";
  width: 1000%;
  height: 15px;
  display: block;
  background: url("../../../assets/images/coral-strip.svg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  left: calc(-1000% - 57px);
  top: 40px;
}
.intro__inner::after {
  content: "";
  width: 446px;
  height: 138px;
  display: block;
  background: url("../../../assets/images/arrow-strip.svg");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  left: 100%;
  top: 40px;
}

.intro__inner-text {
  max-width: 405px;
  margin-bottom: 40px;
  font-family: "Lexend Deca";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 25px;
  color: #ffffff;
}

.process__container {
  padding-top: 160px;
}

.process__list {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  -moz-column-gap: 30px;
       column-gap: 30px;
  position: relative;
}
.process__list::before {
  content: "";
  width: 1000%;
  height: 15px;
  display: block;
  background: url("../../../assets/images/gray-strip.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: absolute;
  top: 41px;
  right: calc(100% - 798px);
  z-index: -1;
}

.process__list-item--span {
  width: 96px;
  height: 96px;
  margin-bottom: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fcb72b;
  border-radius: 50%;
}

.process__list-item--text {
  margin-bottom: 27px;
  font-family: "Space Mono";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: -1.07143px;
  color: #495567;
}

.process__list-item--info {
  font-family: "Lexend Deca";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 25px;
  color: #939caa;
}

.benefits {
  padding-top: 147px;
}

.benefits__list {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  flex-direction: column;
  row-gap: 160px;
}

.benefits__list-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  justify-content: space-between;
}
.benefits__list-item:nth-child(even) .benefits__item-image--wrapper::before {
  background: url("../../../assets/images/big-arrow-from-left.svg");
  position: absolute;
  top: 0;
  left: calc(-100% - 105px);
}
.benefits__list-item:nth-child(even) .benefits__item-image--wrapper::after {
  position: absolute;
  left: calc(-100% - 64px);
}
.benefits__list-item:nth-child(3) .benefits__item-image--wrapper::before {
  top: 85px;
  right: 0;
  left: 256px;
}

.benefits__list-item--wrapper {
  max-width: 445px;
}

.benefits__list-item--title {
  margin-bottom: 24px;
  font-family: "Space Mono";
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 48px;
  letter-spacing: -2.14286px;
  color: #495567;
}

.benefits__list-item--subtitle {
  margin-bottom: 40px;
  font-family: "Lexend Deca";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 25px;
  color: #939caa;
}

.benefits__list-item--link {
  padding: 14px 44px;
  font-family: "Space Mono";
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 25px;
  text-align: center;
  color: #ffffff;
  background: #fcb72b;
}

.benefits__item-image--wrapper {
  width: 445px;
  height: 445px;
  display: inline-block;
  position: relative;
}
.benefits__item-image--wrapper::before {
  content: "";
  width: 740px;
  height: 150px;
  display: inline-block;
  background: url("../../../assets/images/big-arrow.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: absolute;
  bottom: 0;
  left: -130px;
}
.benefits__item-image--wrapper::after {
  content: "";
  display: inline-block;
  width: 445px;
  height: 445px;
  background: #e5ecf4;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: calc(100% + 64px);
  z-index: -1;
}