@mixin flex-display {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

@mixin space-mono-font {
  font-family: "Space Mono";
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 48px;
  letter-spacing: -2.14286px;
}

@mixin lexend-deca-font {
  font-family: "Lexend Deca";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 25px;
}
